body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(28, 106, 123) !important;
}

.app {
  width: 100%;
  height: 100%;
  padding: 100px;
}

.todos-container {
  width: 100%;
  margin: 100px auto !important;
  padding: 100px auto !important;
}

.todos {
  background: white;
  padding: 2rem;
  border-radius: 16px;
}

.todos h1 {
  line-height: 3rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.todos .list-group .list-group-item {
  padding: 1rem;
}

.btncontainer {
  display: flex;
  gap: 20px;
}

.close {
  border: 0;
  outline: 0;
  color: red;
  background: none;
}

.todo-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.todo-form input {
  padding: 1rem;
}
.todo-form button {
  background: none;
  border: none;
  outline: none;
}

.todo-form {
  margin-block: 20px;
}

.input-field {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 10px;
  border: none;
}

.input-field:focus {
  outline: none;
}

.todo-text-input {
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 50px;
  }
  .todos-container {
    width: 50%;
  }
}
